body {
    text-align: center;
}

.containerHeader>p {
    font-size: 7px;
    font-weight: bold;
    padding: 0 !Important;
    margin: 0;
    margin-top: 3px
}

#metricRow {
    width: 60vw;
    margin-left: 20vw;
    margin-right: 20vw;
    display: flex;
    justify-content: space-around;
}

.metricContainer {
    height: 60px;
    width: 60px;
    border-radius: 5px;
    background-color: #b3c804;
    box-shadow: 3px 5px 3px 1px #000000c7;
}

.containerContent {
    font-size: 35px;
    text-align: center;
}

.incorrectChar {
    color: red;
    text-decoration: underline;
}

.correctChar {
    color: darkgreen;
}

#dummyTextContainer {
    background-color: #b3c804;
    padding: 0.15%;
    margin-left: 20vw;
    margin-right: 20vw;
    width: 60vw;
    box-shadow: 3px 5px 3px 1px #000000c7;
}

#inputTextContainer>input[type="text"] {
    background-color: #f5ff9b;
    padding: 2%;
    width: 35.9vw;
    margin-left: 30vw;
    margin-right: 30vw;
    box-shadow: 3px 5px 3px 1px #000000c7;
    border: none;
    outline: none;
}

button {
    padding: 1% 4%;
    background-color: azure;
    border-radius: 5px;

}